sudo: false

virtualenv:
    system_site_packages: true

language: python

python:
  - 2.7

addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - gfortran
    - python-matplotlib
    - python-pandas
    - python-tk

before_install:
  - pip install -U pip

install:
  - pip install git+https://github.com/bendalab/audioio
  - pip install nose nose-cov python-coveralls
  - pip install -r requirements.txt

before_script: # configure a headless display to test plot generation
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

# command to run tests
script:
  - nosetests -vv --with-coverage --cover-package=thunderfish

after_success:
  - coveralls
